apns
attrs
autobahn[twisted]
boto3
cffi ; platform_python_implementation == "CPython"
click
configargparse
cryptography
cyclone
datadog
gcm-client
firebase-admin
hyper
marshmallow
marshmallow-polyfield
oauth2client
objgraph
pyasn1
pyfcm
pyopenssl
python-jose
raven
requests
service-identity
simplejson
treq
twisted
-e git+https://github.com/mozilla-services/txstatsd.git@b744ccc6d5e299c5dd2de2568b0e61ed6e3e89aa#egg=txStatsD-master
typing
ua-parser
wsaccel ; platform_python_implementation == "CPython"
zope.interface
