apns
attrs
autobahn[twisted]
boto3
cffi ; platform_python_implementation == "CPython"
click
configargparse
cryptography
cyclone
datadog
gcm-client
firebase-admin
hyper
marshmallow
marshmallow-polyfield
oauth2client
objgraph
pyasn1
pyfcm
pyopenssl
python-jose
raven
requests
service-identity
simplejson
treq
twisted
-e git+https://github.com/habnabit/txstatsd.git@157ef85fbdeafe23865c7c4e176237ffcb3c3f1f#egg=txStatsD-master
typing
ua-parser
wsaccel ; platform_python_implementation == "CPython"
zope.interface
