ConfigArgParse==0.10.0
Twisted==16.4.0
apns==2.0.1
attrs==16.1.0
autobahn[twisted]==0.16.0
boto==2.42.0
boto3==1.4.0
botocore==1.4.50
cffi==1.10.0
click==6.6
contextlib2==0.5.4
cryptography==1.8.1
cyclone==1.1
datadog==0.13.0
decorator==4.0.10
enum34==1.1.6
future==0.15.2
futures==3.0.5
gcm-client==0.1.4
hyper==0.7.0
idna==2.5
ipaddress==1.0.18
jmespath==0.9.0
marshmallow==2.10.2
marshmallow_polyfield==3.1
objgraph==3.1.0
pyOpenSSL==16.1.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.17
pycrypto==2.6.1
pyfcm==1.0.4
python-dateutil==2.5.3
raven==5.25.0
requests==2.13.0
service-identity==16.0.0
simplejson==3.8.2
six==1.10.0
typing==3.5.2.2
-e git+https://github.com/habnabit/txstatsd.git@157ef85fbdeafe23865c7c4e176237ffcb3c3f1f#egg=txStatsD-master
txaio==2.5.1
ua_parser==0.7.1
zope.interface==4.3.1
wsaccel==0.6.2 ; platform_python_implementation == 'CPython'
