apns
attrs
autobahn[twisted]
boto3
cffi ; platform_python_implementation == "CPython"
click
configargparse
cryptography
cyclone
datadog
gcm-client
firebase-admin
hyper
marshmallow
marshmallow-polyfield
oauth2client
objgraph
pyasn1
pyfcm
pyopenssl
python-jose
raven
requests
service-identity
simplejson
treq
twisted
typing
ua-parser
wsaccel ; platform_python_implementation == "CPython"
zope.interface
