nose
coverage
mock>=1.0.1
-e git+https://github.com/habnabit/txstatsd.git@master#egg=txStatsD
-e git+https://github.com/bbangert/moto.git@3bdb75a961148ea5aa526f0e88d9e7835a30df3a#egg=moto
flake8==2.5.4
psutil
websocket-client
ConfigArgParse==0.10.0
Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Pympler==0.4.3
Twisted==16.1.1
Werkzeug==0.11.9
apns==2.0.1
attrs==15.2.0
autobahn[twisted]==0.14.0
boto==2.40.0
boto3==1.3.1
botocore==1.4.19
cffi==1.6.0
characteristic==14.3.0
contextlib2==0.5.3
cryptography==1.3.2
cyclone==1.1
datadog==0.11.0
decorator==4.0.9
docutils==0.12
ecdsa==0.13
enum34==1.1.5
funcsigs==1.0.2
future==0.15.2
futures==3.0.5
gcm-client==0.1.4
greenlet==0.4.9
httpretty==0.8.14
idna==2.1
ipaddress==1.0.16
itsdangerous==0.24
jmespath==0.9.0
marshmallow==2.7.3
mccabe==0.4.0
pbr==1.9.1
pluggy==0.3.1
pyOpenSSL==16.0.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
pycrypto==2.6.1
pyflakes==1.2.3
python-dateutil==2.5.3
python-jose==0.6.1
raven==5.16.0
repoze.lru==0.6
requests==2.10.0
service-identity==16.0.0
simplejson==3.8.2
six==1.10.0
translationstring==1.3
-e git+https://github.com/habnabit/txstatsd.git@157ef85fbdeafe23865c7c4e176237ffcb3c3f1f#egg=txStatsD-master
txaio==2.5.1
ua_parser==0.7.1
virtualenv==15.0.1
wsaccel==0.6.2
xmltodict==0.10.1
zope.deprecation==4.1.2
zope.interface==4.1.3
