-r requirements.txt
coverage
factory_boy==2.8.1
flake8==3.7.6
funcsigs==1.0.2
mock>=1.0.1
-e git+https://github.com/bbangert/moto.git@3bdb75a961148ea5aa526f0e88d9e7835a30df3a#egg=moto
nose
pbr==1.10.0
# version lock (>5.6.7 require python3)
psutil==5.6.7
pympler==0.5
pytest>=3.6
pytest-cov
websocket-client
