; Endpoint node settings.
;
; Configuration names and values are the same as command line arguments
; e.g. --port=8082 would translate to a line containing
; port = 8082
;
; Likewise, you can specify configuration options as environment variables:
; PORT=8082 bin/autoendpoint
;
; Use bin/autoendpoint --help for a list of options and values.
;
;
; The public endpoint node hostname.
; hostname = updates.push.services.mozilla.com

; The port on which to listen for notifications from app servers.
port = 8082

; Uncomment to disable CORS for incoming notifications.
#no_cors

; Minimum GCM Time To Live value. Set this in case of excessive loss of
; TTL 0 messages across the GCM bridge
#gcm_ttl = 0

; AuthKey are the keys to use for Bearer Auth tokens. It uses the same
; autokey generator as the crypto_key argument, and sorted [newest, oldest]
#auth_key = [HJVPy4ZwF4Yz_JdvXTL8hRcwIhv742vC60Tg5Ycrvw8=]

; Require specific client TLS certificates for endpoint node
; connections. Specified as a JSON object formatted as follows:
;
; {<client_name>: <array of certificate sha256 signatures>}
;
; where each signature is encoded in hex with colons between each byte
; (every second digit)
; e.g.:
; {"client1": ["2C:78:31.."], "client2": ["3F:D0:E0..", "E2:19:B1.."]}
#client_certs =

; Enable a secondary port to listen for notifications with HAProxy
; Proxy Protocol handling
#proxy_protocol_port = 8083
