; Endpoint node settings.
;
; Configuration names and values are the same as command line arguments
; e.g. --port=8082 would translate to a line containing
; port = 8082
;
; Likewise, you can specify configuration options as environment variables:
; PORT=8082 bin/autoendpoint
;
; Use bin/autoendpoint --help for a list of options and values.
;
;
; The public endpoint node hostname.
; hostname = updates.push.services.mozilla.com

; The port on which to listen for notifications from app servers.
port = 8082

; Uncomment to disable CORS for incoming notifications.
#no_cors

; GCM requires a API Auth key. It is STRONGLY recommended you use one specific to this app.
#gcm_apikey = <API_KEY>

; Minimum GCM Time To Live value. Set this in case of excessive loss of
; TTL 0 messages across the GCM bridge
#gcm_ttl = 0

; AuthKey are the keys to use for Bearer Auth tokens. It uses the same
; autokey generator as the crypto_key argument, and sorted [newest, oldest]
#auth_key = [HJVPy4ZwF4Yz_JdvXTL8hRcwIhv742vC60Tg5Ycrvw8=]

; Default hash of senderids and associated authorization keys.
; THIS WILL OVERWRITE ANY VALUES STORED IN S3!
; The list is specified as a JSON object formatted as:
; {<senderid> :{"auth": <auth_value>}}
; e.g.
; {"12345": {"auth": "abcd_efg"}, "01357": {"auth": "ZYX=abc"}}
#senderid_list =

; XXX: even necessary?
#client_cert_auth_enabled

#client_certs {
#"facebook_1": {"file": "/etc/file.pem"}, XXX: files even necessary?
#"facebook_2":
#{"sha256": "E2:19:B1:85:06:B1:D2:F6:63:13:BE:D7:8E:31:6F:1D:81:BB:A2:51:8E:D9:83:14:A6:E6:28:C8:6C:C7:8B:C6"},
#             }
